@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap");
@import "tailwindcss";

@theme {
  --color-paper: #f4f3ee;
  --color-ink: #121212;

  --color-primary-red: #e03c31;
  --color-primary-blue: #0047ab;
  --color-primary-yellow: #ffd300;

  --color-ai-mint: #00ffc2;
  --color-ai-orange: #ff5f1f;

  --font-sans: "Jost", sans-serif;
  --font-serif: "Merriweather", serif;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

:root {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Utilities */
.bauhaus-border {
  border: 2px solid var(--color-ink);
}
